<div class="contents row">
  <% @tweets.each do |tweet| %>
    <p> <%= tweet.text %> </p>
    <span class="name">
      <%= tweet.name %> 
    </span>
    <%= image_tag tweet.image.variant(resize: '300x300'), class: 'tweet-image' if tweet.image.attached? %>
  </div>
  <% end %>
</div>
    